<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- could be omitted in sake of defaults -->
	<settings>
		<setting name="logImpl" value="SLF4J"/>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="autoMappingBehavior" value="PARTIAL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<!-- use this to minimize typing full package names of the classes in configuration -->
	<typeAliases>
		<package name="cz.darujdetem.web.db.entity" />
	</typeAliases>

	<!-- automatic conversion for more complex objects from DB representation to Java and vice versa -->
	<typeHandlers>
		<package name="cz.darujdetem.web.db.typehandler" />
	</typeHandlers>
		

	<!-- declare mappers known to MyBatis - these contain the real SQL queries -->
	<mappers>
<!-- 		<mapper resource="cz/darujdetem/web/db/dao/MyDao.xml"/> -->
	</mappers>

</configuration>